$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-darkgray: hsl(0, 0%, 55%);
$color-darkergray: hsl(0, 0%, 41%);
$bg-primary: $color-white;
$bg-secondary: $color-black;
$text-primary: $color-black;
$text-secondary: $color-white;

$font-size-body: 1rem;
$font-size-h1: 2rem;
$font-size-h2: 1.6rem;
$font-size-h3: 1.27rem;
$font-size-link: $font-size-body;
$font-size-button: 1.13rem;

$font-stack-body: "Alata", sans-serif;
$font-stack-heading: "Josefin Sans", sans-serif;

$font-weight-thin: 300;
