$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-darkgray: hsl(0, 0%, 55%);
$color-darkergray: hsl(0, 0%, 41%);

$bg-primary: $color-white;
$bg-secondary: $color-black;

$section-heading-color: $color-black;

$body-text-color: $color-darkgray;
$image-text-color: $color-white;
$footer-text-color: $color-white;
$copyright-text-color: $color-darkergray;

$link-color: $color-white;
$attr-link-color: hsl(228, 60%, 55%);
$attr-link-interactive-color: hsl(228, 100%, 73%);

$btn-color: $color-black;
$btn-bg: $color-white;
$btn-color-interactive: $color-white;
$btn-bg-interactive: $color-black;

$body-fs: 1rem;
$h1-fs: 2.5rem;
$h2-fs: 2rem;
$h3-fs: 1.5rem;
$nav-header-fs: 1.2rem;
$nav-footer-fs: $body-fs;
$btn-fs: $body-fs;
$footer-attr-fs: 0.75rem;
$copyright-fs: 0.866rem;

$font-weight-thin: 300;

$font-family-body: "Alata", sans-serif;
$font-family-heading: "Josefin Sans", sans-serif;
