@use "variables";
@use "mixins";

// Spacing

.u-mx-auto {
  margin: 0 auto;
}

// Sizing

.u-menu-toggle-icons-dimensions {
  @include mixins.set-width-and-max(24px);
  @include mixins.height(auto);
}

// Text

.u-link-styles {
  @include mixins.u-link-styles();
}

.u-link-styles-no-end-w {
  @include mixins.u-link-styles(0);
}

.u-link-styles-full-end-w {
  @include mixins.u-link-styles(100%);
}

.u-text-center {
  text-align: center;
}

@media (min-width: 768px) {
  .u-text-left-lg {
    text-align: left;
  }
}

.u-heading-secondary {
  font-size: variables.$h2-fs;
}

.u-text-uppercase {
  text-transform: uppercase;
}

@media (min-width: 950px) {
  .u-text-capitalize-lg {
    text-transform: capitalize;
  }
}

// Positioning

.u-d-block {
  display: block;
}

.u-d-none {
  display: none;
}

@media (min-width: 950px) {
  .u-d-none-lg {
    display: none;
  }
}

.u-position-rel {
  position: relative;
}

.u-position-fix {
  position: fixed;
}

.u-position-abs {
  position: absolute;
}

@media (min-width: 768px) {
  .u-position-abs-lg {
    position: absolute;
  }
}

@media (min-width: 950px) {
  .u-position-stat-lg {
    position: static;
  }
}

.u-top-zero {
  top: 0;
}

.u-center {
  display: grid;
  place-content: center;
}

.u-justify-items-center {
  justify-items: center;
}
