@use "../config";

.c-about {
  margin-block-end: 96px;

  &__image {
    width: 95%;
    max-width: 400px;
  }

  &__content {
    width: 85%;
    max-width: 350px;
  }

  &__description {
    color: config.$body-text-color;
  }
}
