@use "../variables";

.c-footer {
  background-color: variables.$bg-secondary;
  padding: 40px 16px 32px;

  &__list {
    margin-block-end: 16px;
  }

  &__link {
    font-size: variables.$nav-footer-fs;
    padding-block-end: 4px;
  }

  &__social-link:link,
  &__social-link:visited {
    padding-bottom: 8px;
  }

  &__copyright {
    color: variables.$color-darkgray;
    font-size: variables.$copyright-fs;
    letter-spacing: 0.8px;
    margin-block-end: -6px;
  }

  &__attribution {
    font-size: variables.$footer-attr-fs;
    color: variables.$color-darkgray;
    text-align: center;

    &-link:link,
    &-link:visited {
      color: variables.$attr-link-color;
      border: 1px solid transparent;
      transition: color 0.2s ease-in-out, border-block-end 0.2s ease-in-out;
    }

    &-link:hover,
    &-link:focus,
    &-link:active {
      color: variables.$attr-link-interactive-color;
      border-block-end: 1px solid variables.$attr-link-interactive-color;
    }
  }
}
