@use "../variables";
@use "../mixins";
@use "../layout";
@use "../utility";

.c-header {
  background-image: url("../../images/mobile/image-hero.jpg");
  @include mixins.bg-cover-center-no-repeat;
  @include mixins.height(90vh);
  @include mixins.block-spacing(120px, 240px);

  @media (min-width: 600px) {
    background-image: linear-gradient(
        hsla(0, 0%, 0%, 0.4),
        hsla(0, 0%, 0%, 0.4)
      ),
      url("../../images/desktop/image-hero.jpg");
    @include mixins.height(450px);
    @include mixins.block-spacing(220px, 160px);
  }

  &__nav-container {
    @include mixins.set-width-and-max(100%);
    @include mixins.padding(32px 0);
    z-index: variables.$z-index-nav-container;
    transition: background-color 0.2s ease-in-out, top 0.2s ease-in-out;

    &.scrolled {
      background-color: variables.$bg-secondary;
      top: 0;
    }

    &--inner {
      @include mixins.set-width-and-max(90%, 1100px);
      @include mixins.justify-content(space-between);
      @include mixins.align-items(center);
    }
  }

  &__nav {
    @include mixins.set-width-and-max(100%);
    z-index: inherit;
    @include mixins.justify-content(space-between);
    @include mixins.align-items(center);
  }

  &__logo-link {
    @include mixins.set-width-and-max(148px);
    z-index: variables.$z-index-interactive;
  }

  &__menu-toggle {
    @include mixins.set-width-and-max(48px);
    @include mixins.height(48px);
    @include mixins.justify-content();
    @include mixins.align-items();
    cursor: pointer;
    background: none;
    @include mixins.border(none);
    z-index: variables.$z-index-interactive;
  }

  &__menu-toggle.active .c-header__menu-icon {
    display: none;
  }

  &__menu-toggle.active .c-header__menu-close {
    display: block;

    @media (min-width: 950px) {
      display: none;
    }
  }

  &__list {
    background-color: variables.$bg-secondary;
    @include mixins.set-width-and-max(100%);
    @include mixins.height(100vh);
    @include mixins.justify-content(flex-start);
    @include mixins.align-items(flex-start);
    right: 0;
    z-index: variables.$z-index-nav-list;
    @include mixins.gap();
    @include mixins.padding(24px);
    @include mixins.block-spacing(null, 216px);
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;

    @media (min-width: 600px) {
      @include mixins.padding(216px 24px 24px 32px);
    }

    @media (min-width: 750px) {
      @include mixins.padding(216px 24px 24px 40px);
    }

    @media (min-width: 950px) {
      @include mixins.set-width-and-max(auto);
      @include mixins.height(auto);
      transform: none;
      flex-direction: row;
      @include mixins.justify-content();
      @include mixins.align-items();
      background: none;
      @include mixins.padding(0);
      @include mixins.gap(variables.$gap-lg);
    }
  }

  &__list.active {
    transform: translateX(0);

    @media (min-width: 950px) {
      transform: none;
    }
  }

  &__link {
    font-size: variables.$nav-panel-fs;
    font-family: variables.$font-family-header-link;
    font-weight: variables.$font-weight-thin;
    letter-spacing: variables.$letter-spacing-base;
  }

  &__hero {
    @include mixins.set-width-and-max(90%, 1100px);

    @media (min-width: 768px) {
      @include mixins.justify-content(flex-start);
    }
  }

  &__title {
    @include mixins.set-width-and-max(auto, 400px);
    @include mixins.align-items(start);
    @include mixins.padding(24px 24px 16px 24px);
    font-size: variables.$h1-fs;
    color: variables.$image-text-color;
    @include mixins.border($color: variables.$color-white);
    line-height: variables.$line-height-sm;
    @include mixins.gap(0);

    @media (max-width: 340px) {
      font-size: 2.25rem;
    }

    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media (min-width: 768px) {
      &-word:nth-child(1),
      &-word:nth-child(2) {
        @include mixins.set-width-and-max(100%);
      }

      &-word:nth-child(3),
      &-word:nth-child(4) {
        @include mixins.set-width-and-max(auto);
      }

      &-word:nth-child(3) {
        margin-right: 8px;
      }
    }
  }
}
